/* Global styles */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #666666;
  margin: 0;
  background-color: #fafafa;
}

a, a:visited {
  color: #666666;
}

th {
  border-bottom: solid 1px #d3d3d3;
}

td, th {
  padding: 5px;
  font-size: 13px;
}

table {
  border-collapse:collapse;
  margin-bottom: 25px;
}


/* label {
  position: relative;
} */

/* label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
} */

/* input {
  padding: 10px 30px;
} */

/* Documentation site component styles */
.componentPage--description {
  color: #444444;
  margin: 35px 0;
}

.clear {
  clear: both;
}

.componentPage--heading1 {
  font-size: 38px;
  display: block;
  position: relative;
  padding-bottom: 1.125rem;
  margin: 0 0 35px;
  font-weight: 700;
}

.componentPage--heading1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5rem;
  height: 4px;
  background-color: #00adf7;
  border-radius: 4px;
}

.componentPage--heading2 {
  display: block;
  position: relative;
  margin: 0 0 10px;
}

.componentPage--heading3 {
  border-bottom: thin solid #d3d3d3;
  padding-bottom: 0.375rem;
  margin-bottom: 1.5rem;
}

.example--heading4 {
  margin: 1rem 0 0.5rem 0.2rem;
}

.example {
  border: solid 1px #d3d3d3;
  border-radius: 3px;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.codewrapper {
  max-height: 0;
}

.codewrapper-enter {
  max-height: 0;
  overflow: hidden;
}

.codewrapper-enter-active {
  transition: max-height 300ms ease-in-out 0ms;
  max-height: 600px;
  overflow: hidden;
}

.codewrapper-enter-done {
  max-height: 600px;
  overflow: auto;
}

.codewrapper-exit {
  max-height: 600px;
  overflow: hidden;
}

codewrapper-exit-active {
  transition: max-height 300ms ease-in-out 0ms;
  max-height: auto;
}

.codewrapper-exit-done {
  max-height: auto;
}

.importstatement {
  color: #999;
  font-family: Consolas,Liberation Mono,Menlo,monospace;
  font-size: 13px;
  margin-bottom: 35px;
}

.props {
  font-weight: 500;
}

.props tr td:nth-last-of-type(3) {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.props td:last-of-type {
  width: 100%;
}

.navigation {
  float: left;
  width: 200px;
  list-style-type: none;
  padding-left: 20px;
}

.navigation--search {
  padding: 16px;
  margin-right: 25px;
}

.navigation--input {
  display: block;
  width: 100%;
  padding: 8px;
  color: #444;
  background-color: #fff;
  font-size: 15px;
  border: 1px rgb(240, 243, 245) solid;
  border-radius: 3px;
  transition: border-color ease-in-out .15s;
}

.navigation--input:focus {
  border-color: #07a;
  border: 1px #07a solid;
  outline: 0;
}

.navigation--listItem {
  margin: 8px 0 8px 0;
  font-size: 15px;
}

.navigation--link {
  text-decoration: none;
}

.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  overflow: auto;
  background-color: #07a;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.navmenu h1:first-of-type {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
  color: #fcfcfc;
  text-align: center;
}

.navmenu li > a {
  color: #fff;
  font-weight: 500;
}

.propname {
  color: #07a;
}

.proptype {
  color: #1bab6b;
}

.main {
  max-width: 1000px;
  padding: 15px 32px;
  margin: 0 auto 50px auto;
}

.doc {
  padding-left: 250px;
}

.availableIcons--container {
  margin-right: 2rem;
}

.availableIcons--preview {
  padding: 16px;
  border: 1px #ededed solid;
  border-radius: 3px;
  display: inline-block;
  margin: 0 15px 15px 0;
}

.icon-spin-test {
  animation: spin 1s linear infinite;
}

/* @keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } } */

.j52 {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  /* transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  border-radius: 50%;
}

.j52:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.j58 {
    color: inherit;
    cursor: pointer;
    margin: 0;
    border: 0;
    display: inline-flex;
    /* padding: 0; */
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    /* border-radius: 0; */
    vertical-align: middle;
    justify-content: center;
    /* -moz-appearance: none; */
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.j61 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  /* transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  user-select: none;
  flex-shrink: 0;
}

/* .j209 {
  transition: height 800ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */

.j210 {
  overflow: visible;
}

.progressbar {
  background-color: #d3d3d3;
  border-radius: 0px; /* 13px; (height of inner div) / 2 + padding */
  padding: 0px; /* padding: 3px; */
  width: 450px;
}

.progressbar>div {
  background-color: #00695C;
  width: 0%; /* Adjust with JavaScript */
  height: 30px;
  border-radius: 0px; /* 10px; */
}

.progressbar>div>div {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}